@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS&display=swap');

/*                                     General                                 */
.titre {
    font-weight: bold; /* Met le texte en gras */
    text-align: center; /* Centre le texte horizontalement */
    width: 100%; /* S'assure que la balise prend toute la largeur disponible */
    margin: 20px 0; /* Ajoute un peu d'espace au-dessus et en dessous pour le démarquer */
    font-size: 24px; /* Augmente la taille de la police pour plus de visibilité */
    display: block; /* Rend l'élément de type block pour permettre le centrage et la gestion de la largeur */
}


.message {
    padding: 10px;
    background-color: #f9f9f9; /* Fond gris clair pour une meilleure lisibilité */
    border: 1px solid #ddd; /* Bordure subtile pour la boîte de message */
    border-radius: 4px; /* Coins arrondis */
    margin-bottom: 20px; /* Espace entre les messages */
}

.message h3 {
    font-weight: bold; /* Rendre le titre en gras */
    margin-bottom: 10px; /* Espace après le titre */
}

.message p {
    margin-bottom: 10px; /* Espace entre le texte et les boutons */
}

.message span {
    font-style: italic; /* Mettre l'auteur et la date en italique */
    display: block; /* Assure que l'élément prend toute la largeur disponible */
    margin-bottom: 10px; /* Espace avant les boutons */
}

.message .button-container {
    display: flex; /* Aligne les boutons en ligne */
    align-items: center; /* Centre verticalement les boutons */
    gap: 10px; /* Ajoute de l'espace entre les boutons */
}

.delete-button, .modif-button {
    padding: 6px 12px;
    border: none;
    border-radius: 15px; /* Coins arrondis */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.delete-button {
    background-color: #6a11cb; /* Couleur violette */
    color: white;
}

.delete-button:hover {
    background-color: #4a1b84; /* Violette plus foncé au survol */
}

.modif-button {
    background-color: #6a11cb; /* Couleur violette */
    color: white;
}

.modif-button:hover {
    background-color: #4a1b84; /* Violette plus foncé au survol */
}


/*-----------------------------------------------------------Accueil----------------------------------------------------------- */
/* CSS Reset pour le body et tous les éléments pour éliminer les marges par défaut */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Application des styles spécifiques */
body, button {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
}

.home-page {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #d1c4e9 0%, #6a11cb 100%);
    color: #ffffff;
}


.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-title {
    font-size: 40px;
    font-weight: 700;
}

.home-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.home-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    margin: 5px;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #6a11cb; /* Violet */
}

.button-primary {
    background-color: #6a11cb; /* Violet */
}

.button-primary:hover {
    background-color: #4a1b84; /* Violette plus foncée */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button-secondary {
    background-color: #6a11cb; /* Violet */
}

.button-secondary:hover {
    background-color: #4a1b84; /* Violette plus foncée */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.site-logo {
    width: 100px; /* Ajustez la largeur selon vos préférences */
    height: 100px; /* Ajustez la hauteur selon vos préférences */
    border-radius: 50%; /* Arrondit l'image pour la rendre circulaire */
    display: block; /* Affiche l'image comme un élément de bloc */
    margin: 0 auto 20px; /* Centre le logo horizontalement et ajoute un espace en bas */
}

/*----------------------------------------------------  Login ---------------------------------------------------------- */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #d1c4e9 0%, #6a11cb 100%);
    color: #ffffff;
    padding: 20px;
    text-align: center; /* Assurer que tout est centré */
}

.login-container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px; /* Espacement avant les champs */
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.form-group { /* Nouveau style pour le regroupement de label et input */
    margin-bottom: 20px;
}

.login-container label {
    display: block; /* S'assurer que le label prend toute la largeur du div */
    font-size: 16px;
    margin-bottom: 8px; /* Espace entre le label et l'input */
}

.login-container input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #ffffff; /* Fond blanc pour les inputs */
    color: #333; /* Texte plus sombre pour une meilleure lisibilité */
    width: 100%; /* S'assurer que l'input remplit l'espace du form-group */
}

button {
    padding: 12px 25px;
    background-color: #6a11cb; /* Violet */
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
}

button:hover {
    background-color: #4a1b84; /* Violette plus foncé */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.error-message {
    color: #ff6b6b;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}



/*----------------------------------------------------  Signin ------------------------------------------------------- */


.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #6a11cb 100%);
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.signin-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
}

.signin-container label {
    display: block;
    font-size: 12px;
    margin-bottom: 6px;
}

.signin-container input {
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
    background: #ffffff;
    color: #333;
    width: 100%;
    margin-bottom: 15px;
}

button {
    padding: 9px 20px;
    background-color: #6a11cb; /* Violet */
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    margin-top: 15px;
}

button:hover {
    background-color: #4a1b84; /* Violette plus foncée */
    box-shadow: 0 1.5px 3px rgba(0,0,0,0.2);
}

.error-message {
    color: #ff6b6b;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

.success-message {
    color: #28a745;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}




/*-------------------------------------------------- Navigation Pannel ----------------------------------------------------*/

.navigation-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #6a11cb; /* Violette */
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    display: inline-block;
    padding: 5px 8px;
    margin: 5px;
    background-color: #6a11cb; /* Violette */
    color: white; /* Texte blanc */
    text-decoration: none;
    border-radius: 15px; /* Coins arrondis */
    transition: background-color 0.2s, color 0.2s;
    font-weight: bold;
    text-align: center;
}

.nav-link:hover, .nav-link:focus {
    background-color: #4a1b84; /* Violette plus foncée */
    color: white;
    text-decoration: none;
    outline: none;
}

.nav-link:last-child {
    margin-right: 0; /* Pas de marge pour le dernier lien */
}

.site-name {
    flex-grow: 2;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.logout-section {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.logout-button {
    padding: 5px 8px;
    background-color: #d9534f; /* Rouge pour le bouton de déconnexion */
    color: white;
    border: none;
    border-radius: 15px; /* Coins arrondis */
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    display: inline-block;
}

.logout-button:hover {
    background-color: #b3241f; /* Teinte plus sombre lors du survol */
}




/*----------------------------------------------------  ProfilePage ---------------------------------------------------------- */


.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-detail {
    margin-bottom: 10px;
    font-size: 16px;
}

h2 {
    color: #333;
    font-size: 24px;
}

.user-messages {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px; /* Coins arrondis */
}

.edit-textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px; /* Coins arrondis */
}

.delete-button, .modif-button {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 15px; /* Coins arrondis */
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.2s;
}

.delete-button {
    background-color: #6a11cb; /* Violet */
    color: white;
}

.delete-button:hover {
    background-color: #4a1b84; /* Violet plus foncé au survol */
}

.modif-button {
    background-color: #6a11cb; /* Violet */
    color: white;
}

.modif-button:hover {
    background-color: #4a1b84; /* Violet plus foncé au survol */
}



/*----------------------------------------------------  MainPage ---------------------------------------------------------- */


.main-page {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.new-message-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.new-message-form input,
.new-message-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.new-message-form button {
    padding: 10px 20px;
    background-color: #6a11cb; /* Violet */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-message-form button:hover {
    background-color: #4a1b84; /* Violet plus foncé */
}

.latest-messages {
    margin-top: 20px;
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.message h3 {
    color: #333;
    margin-top: 0;
}

.message p {
    margin: 10px 0;
}

.message span {
    font-size: 14px;
    color: #666;
}

.message button {
    padding: 8px 16px;
    background-color: #6a11cb; /* Violet */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.message button:hover {
    background-color: #4a1b84; /* Violet plus foncé */
}



/*----------------------------------------------------  ListUser ---------------------------------------------------------- */

/* Container for the user list */
.user-list {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
/* Add margin between each section */
.user-list > div {
    margin-bottom: 10px;
}
  
/* Title for each section */
h1 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}
  
/* Styles for the unordered list */
ul {
    list-style-type: none;
    padding: 0;
}
  
/* Styles for each list item */
li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
/* Container for buttons */
.button-container {
    display: flex;
    gap: 8px;
}
  
/* Styles for all buttons */
button {
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    background-color: #6a11cb; /* Violet */
    color: white; /* Texte blanc */
}
  
/* Change opacity on hover */
button:hover {
    background-color: #4a1b84; /* Violet plus foncé */
    opacity: 0.8;
}


/*----------------------------------------------------  Search bar ---------------------------------------------------------- */

.search-bar {
    display: flex; /* Utilise flexbox pour aligner les enfants horizontalement */
    align-items: center; /* Centre les éléments verticalement dans le conteneur */
    padding: 10px;
    background-color: #f0f0f0; /* Couleur de fond légère pour la barre de recherche */
    border-radius: 15px; /* Bords arrondis */
    flex: 1 5px;
}

.search-bar-input {
    flex-grow: 1; /* Permet à l'input de prendre tout l'espace disponible */
    padding: 8px;
    margin-right: 10px; /* Espacement entre l'input et le bouton */
    border: 1px solid #ccc; /* Bordure subtile pour l'input */
    border-radius: 15px; /* Coins arrondis */
}

.search-bar-button {
    padding: 8px 16px;
    background-color: #6a11cb; /* Violet */
    color: white; /* Texte blanc */
    border: none;
    border-radius: 15px; /* Coins arrondis */
    cursor: pointer; /* Style du curseur pour indiquer que c'est un bouton cliquable */
    transition: background-color 0.2s; /* Transition douce pour l'effet de survol */
}

.search-bar-button:hover {
    background-color: #4a1b84; /* Violette plus foncé */
}




/*-----------------------------------------Page reponse---------------------------------------------------------------*/

.page-reponse {
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.page-reponse h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold; 
}
  
.page-reponse p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-style: italic; 
}

.page-reponse .p_droite {
    float: right; 
    clear: both; 
    margin-top: 0; 
    padding-right: 10px; 
}

.page-reponse h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
  
.page-reponse textarea {
    width: 100%;
    min-height: 150px;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 15px; /* Coins arrondis */
    margin-bottom: 1rem;
}
  
.page-reponse button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    background-color: #6a11cb; /* Violet */
    color: white; /* Texte blanc */
    border: none;
    border-radius: 15px; /* Coins arrondis */
    cursor: pointer;
}
  
.page-reponse button:hover {
    background-color: #4a1b84; /* Violette plus foncé */
}
  
.page-reponse ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.page-reponse li {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #ccc;
}

.error {
    color: #d32f2f;
    background-color: #fddbd7;
    border: 1px solid #b01a1a;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}


/*------------------------------------------Page Utilisateur--------------------------------------------------*/

.user-profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: 'Comic Sans MS', Comic Sans, cursive;
}

.profile-detail {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5; /* Améliore la lisibilité */
}


/*-----------------------------------------------Admin Page----------------------------------------------------*/

.admin-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.titre {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.new-message-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.new-message-form input,
.new-message-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%; /* Full width to match form container */
}

.new-message-form button {
    padding: 10px 20px;
    background-color: #6a11cb; /* Violet */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

new-message-form button:hover {
    background-color: #4a1b84; /* Violette plus foncé */
}

.hidden-messages .message {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.hidden-messages h3 {
    margin-top: 0;
    color: #333;
}

.hidden-messages p {
    margin: 10px 0;
    color: #666;
}

.hidden-messages span {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 10px;
}

.hidden-messages button {
    padding: 8px 16px;
    background-color: #6a11cb; /* Violet */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.hidden-messages button:hover {
    background-color: #4a1b84; /* Violette plus foncé */
}
