@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/*                                     General                                 */
.titre {
    font-weight: bold; /* Met le texte en gras */
    text-align: center; /* Centre le texte horizontalement */
    width: 100%; /* S'assure que la balise prend toute la largeur disponible */
    margin: 20px 0; /* Ajoute un peu d'espace au-dessus et en dessous pour le démarquer */
    font-size: 24px; /* Augmente la taille de la police pour plus de visibilité */
    display: block; /* Rend l'élément de type block pour permettre le centrage et la gestion de la largeur */
}


.message {
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background for better readability */
    border: 1px solid #ddd; /* Subtle border for the message box */
    border-radius: 4px; /* Rounded corners for aesthetic touch */
    margin-bottom: 20px; /* Space between messages */
}

.message h3 {
    font-weight: bold; /* Makes the title bold */
    margin-bottom: 10px; /* Space after the title */
}

.message p {
    margin-bottom: 10px; /* Space between the text and the metadata or buttons */
}

.message span {
    font-style: italic; /* Makes the author and date italic */
    display: block; /* Ensures it takes the full width available */
    margin-bottom: 10px; /* Space before the buttons */
}

.message .button-container {
    display: flex; /* Aligns buttons in a row */
    align-items: center; /* Centers buttons vertically */
    gap: 10px; /* Adds space between buttons */
}

.delete-button, .modif-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.delete-button {
    background-color: #f44336; /* Red color for delete action */
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.modif-button {
    background-color: #2196f3; /* Blue color for modify and respond actions */
    color: white;
}

.modif-button:hover {
    background-color: #1976d2; /* Darker blue on hover */
}


/*-----------------------------------------------------------Acceuil----------------------------------------------------------- */
/* Import Google Fonts */


/* CSS Reset pour le body et tous les éléments pour éliminer les marges par défaut */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Application des styles spécifiques */
body, button {
    font-family: 'Roboto', sans-serif;
}

.home-page {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #ffffff;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-title {
    font-size: 40px;
    font-weight: 700;
}

.home-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.home-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    margin: 5px;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.button-primary {
    background-color: #1a73e8;
}

.button-primary:hover {
    background-color: #1358a2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button-secondary {
    background-color: #5865F2;
}

.button-secondary:hover {
    background-color: #4e54c8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/*----------------------------------------------------  Login ---------------------------------------------------------- */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center; /* Assurer que tout est centré */
}

.login-container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px; /* Espacement avant les champs */
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.form-group { /* Nouveau style pour le regroupement de label et input */
    margin-bottom: 20px;
}

.login-container label {
    display: block; /* S'assurer que le label prend toute la largeur du div */
    font-size: 16px;
    margin-bottom: 8px; /* Espace entre le label et l'input */
}

.login-container input {
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #ffffff; /* Fond blanc pour les inputs */
    color: #333; /* Texte plus sombre pour une meilleure lisibilité */
    width: 100%; /* S'assurer que l'input remplit l'espace du form-group */
}

button {
    padding: 12px 25px;
    background-color: #1a73e8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
}

button:hover {
    background-color: #1358a2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.error-message {
    color: #ff6b6b;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}



/*----------------------------------------------------  Signin ------------------------------------------------------- */


.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 15px; /* Ajusté de 10px à 15px */
    text-align: center;
}

.signin-container h2 {
    font-size: 24px; /* Ajusté de 16px à 24px */
    font-weight: 700;
    margin-bottom: 20px; /* Ajusté de 15px à 20px */
}

.signin-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px; /* Ajusté de 160px à 240px */
}

.signin-container label {
    display: block;
    font-size: 12px; /* Ajusté de 8px à 12px */
    margin-bottom: 6px; /* Ajusté de 4px à 6px */
}

.signin-container input {
    padding: 9px; /* Ajusté de 6px à 9px */
    border-radius: 4px; /* Ajusté de 2.5px à 4px */
    border: none;
    font-size: 12px; /* Ajusté de 8px à 12px */
    background: #ffffff;
    color: #333;
    width: 100%;
    margin-bottom: 15px; /* Ajusté de 10px à 15px */
}

button {
    padding: 9px 20px; /* Ajusté de 6px 12.5px à 9px 20px */
    background-color: #1a73e8;
    color: #ffffff;
    font-size: 12px; /* Ajusté de 8px à 12px */
    font-weight: 500;
    border-radius: 15px; /* Ajusté de 10px à 15px */
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1); /* Légèrement ajusté pour plus de volume */
    margin-top: 15px; /* Ajusté de 10px à 15px */
}

button:hover {
    background-color: #1358a2;
    box-shadow: 0 1.5px 3px rgba(0,0,0,0.2); /* Ajusté pour être plus modéré */
}

.error-message {
    color: #ff6b6b;
    font-size: 10px; /* Ajusté de 7px à 10px */
    text-align: center;
    margin-top: 10px; /* Maintenu à 10px */
}

.success-message {
    color: #28a745;
    font-size: 10px; /* Ajusté de 7px à 10px */
    text-align: center;
    margin-top: 10px; /* Maintenu à 10px */
}




/*-------------------------------------------------- Navigation Pannel ----------------------------------------------------*/

.navigation-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--background-color); /* Using CSS variable for dynamic color change */
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    display: inline-block; /* Ensures the links are block-level elements but line up inline */
    padding: 5px 8px; /* Provides padding inside the links for a button-like appearance */
    margin: 5px; /* Adds some space around the links */
    background-color: #007bff; /* Bootstrap primary blue, but you can choose any color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from links */
    border-radius: 4px; /* Rounded corners for a modern button look */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
    font-weight: bold; /* Makes the font bold */
    text-align: center; /* Centers text within the button */
}

.nav-link:hover, .nav-link:focus {
    background-color: #0056b3; /* Darker shade of blue for hover state */
    color: #fff; /* Ensures text color remains white on hover */
    text-decoration: none; /* Continues to remove underline on hover/focus */
    outline: none; /* Removes the outline to keep the design clean */
}

.nav-link:last-child {
    margin-right: 0; /* No margin for the last link */
}

.site-name {
    flex-grow: 2;
    text-align: center;
    font-size: 24px; /* Or size as per your design preference */
    font-weight: bold;
    
}

.logout-section {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.logout-button {
    padding: 5px 8px; /* Ajustez le padding pour correspondre à celui des nav-link */
    background-color: #d9534f; /* Couleur distincte pour le bouton de déconnexion */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px; /* Assurez-vous que la marge correspond à celle des nav-link */
    font-weight: bold; /* Correspondance de la mise en forme du texte */
    font-size: 16px; /* Assurez-vous que la taille de la police est la même que celle des nav-link si nécessaire */
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
    display: inline-block; /* Garantit que le bouton se comporte comme les nav-link */
}

.logout-button:hover {
    background-color: #b3241f; /* Une teinte plus sombre pour l'interaction */
}






/*----------------------------------------------------  ProfilePage ---------------------------------------------------------- */




.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-detail {
    margin-bottom: 10px;
    font-size: 16px;
}

h2 {
    color: #333;
    font-size: 24px;
}

.user-messages {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-button, .modif-button {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.2s;
    
}


.delete-button {
    background-color: #f44336;
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.modif-button {
    background-color: #2196F3;
    color: white;
}

.modif-button:hover {
    background-color: #1976D2;
}



/*----------------------------------------------------  MainPage ---------------------------------------------------------- */


.main-page {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.new-message-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.new-message-form input,
.new-message-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-message-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-message-form button:hover {
    background-color: #45a049;
}

.latest-messages {
    margin-top: 20px;
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.message h3 {
    color: #333;
    margin-top: 0;
}

.message p {
    margin: 10px 0;
}

.message span {
    font-size: 14px;
    color: #666;
}

.message button {
    padding: 8px 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.message button:hover {
    background-color: #0b7dda;
}





/*----------------------------------------------------  ListUser ---------------------------------------------------------- */

/* Container for the user list */
.user-list {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Add margin between each section */
  .user-list > div {
    margin-bottom: 10px;
  }
  
  /* Title for each section */
  h1 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  /* Styles for the unordered list */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for each list item */
  li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Container for buttons */
  .button-container {
    display: flex;
    gap: 8px;
  }
  
  /* Styles for all buttons */
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
  }
  
  /* Change opacity on hover */
  button:hover {
    opacity: 0.8;
  }
  


/*----------------------------------------------------  Search bar ---------------------------------------------------------- */

.search-bar {
    display: flex; /* Utilise flexbox pour aligner les enfants horizontalement */
    align-items: center; /* Centre les éléments verticalement dans le conteneur */
    padding: 10px;
    background-color: #f0f0f0; /* Couleur de fond légère pour la barre de recherche */
    border-radius: 4px; /* Bords arrondis pour un look moderne */
    flex: 1 5px;
}

.search-bar-input {
    flex-grow: 1; /* Permet à l'input de prendre tout l'espace disponible */
    padding: 8px;
    margin-right: 10px; /* Espacement entre l'input et le bouton */
    border: 1px solid #ccc; /* Bordure subtile pour l'input */
    border-radius: 4px; /* Bords arrondis pour l'input */
}

.search-bar-button {
    padding: 8px 16px;
    background-color: #007bff; /* Couleur de fond bleue pour le bouton */
    color: white; /* Texte blanc pour le bouton */
    border: none;
    border-radius: 4px; /* Bords arrondis pour le bouton */
    cursor: pointer; /* Style du curseur pour indiquer que c'est un bouton cliquable */
    transition: background-color 0.2s; /* Transition douce pour l'effet de survol */
}

.search-bar-button:hover {
    background-color: #0056b3; /* Couleur plus foncée lors du survol */
}




/*-----------------------------------------Page reponse---------------------------------------------------------------*/

.page-reponse {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .page-reponse h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold; 
  }
  
  .page-reponse p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-style: italic; 
  }

  .page-reponse .p_droite {
    float: right; 
    clear: both; 
    margin-top: 0; 
    padding-right: 10px; 
}

  
  .page-reponse h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .page-reponse textarea {
    width: 100%;
    min-height: 150px;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .page-reponse button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .page-reponse button:hover {
    background-color: #45a049;
  }
  
  .page-reponse ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .page-reponse li {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .error {
    color: #d32f2f;
    background-color: #fddbd7;
    border: 1px solid #b01a1a;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }


  /*------------------------------------------Page Utilisateur--------------------------------------------------*/

  /* Conteneur principal pour le profil utilisateur, centré avec un fond et une ombre pour une meilleure lisibilité */
.user-profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif; /* Typographie cohérente */
}

/* Style des détails du profil pour améliorer la lisibilité et la présentation */
.profile-detail {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5; /* Améliore la lisibilité */
}


/*-----------------------------------------------Admin Page----------------------------------------------------*/

.admin-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.titre {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px; /* Space between sections */
}

.new-message-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.new-message-form input,
.new-message-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Full width to match form container */
}

.new-message-form button {
    padding: 10px 20px;
    background-color: #10a92c; /* Bright blue for visibility */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-message-form button:hover {
    background-color: #1358a2; /* Darker blue on hover */
}

.hidden-messages .message {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.hidden-messages h3 {
    margin-top: 0;
    color: #333;
}

.hidden-messages p {
    margin: 10px 0;
    color: #666;
}

.hidden-messages span {
    font-size: 14px;
    color: #888;
    display: block;
    margin-bottom: 10px;
}

.hidden-messages button {
    padding: 8px 16px;
    background-color: #085b06;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.hidden-messages button:hover {
    background-color: #0056b3;
}
