nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4; /* Couleur de fond légère pour la barre de navigation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet de profondeur */
    margin-bottom: 20px; /* Espacement avec le contenu suivant */
}

nav a, .logout-button {
    color: #0366d6; /* Couleur bleue pour les liens */
    text-decoration: none; /* Aucun soulignement pour les liens */
    padding: 8px 15px; /* Padding pour rendre les liens plus cliquables */
    border-radius: 5px; /* Bordures arrondies pour les liens */
    transition: background-color 0.3s; /* Transition douce pour le survol */
}

nav a:hover, .logout-button:hover {
    background-color: #e2e6ea; /* Couleur de fond au survol pour les liens */
}

.logout-button {
    background-color: #d9534f; /* Rouge pour le bouton de déconnexion */
    color: white; /* Texte blanc pour contraster avec le fond rouge */
    border: none; /* Aucune bordure pour le bouton de déconnexion */
    cursor: pointer; /* Curseur en forme de pointeur pour indiquer la cliquabilité */
}

.logout-button:hover {
    background-color: #c9302c; /* Rouge plus foncé au survol */
}
