.main-page {
    max-width: 800px; /* Limitez la largeur pour ne pas étirer sur de grands écrans */
    margin: 0 auto; /* Centrage */
    padding: 20px; /* Espace autour du contenu */
}

.new-message-form,
.latest-messages {
    background: #f9f9f9; /* Couleur de fond légèrement différente pour séparer les sections */
    border-radius: 8px; /* Bordures arrondies */
    padding: 20px; /* Espace à l'intérieur des sections */
    margin-bottom: 30px; /* Espace entre les sections */
}

.new-message-form h2,
.latest-messages h2 {
    color: #333; /* Couleur plus sombre pour les titres */
    margin-bottom: 15px; /* Espace sous les titres */
}

.new-message-form input[type="text"],
.new-message-form textarea {
    width: 100%; /* Utilisez toute la largeur disponible */
    padding: 10px; /* Espacement à l'intérieur des champs */
    margin-bottom: 10px; /* Espace entre les champs */
    border: 1px solid #ddd; /* Bordure subtile */
    border-radius: 4px; /* Bordures légèrement arrondies pour les champs de saisie */
}

.new-message-form button {
    padding: 10px 20px; /* Padding du bouton */
    background-color: #0056b3; /* Couleur de fond du bouton */
    color: white; /* Texte blanc pour contraster */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Bordures arrondies */
    cursor: pointer; /* Curseur en forme de pointeur */
    float: right; /* Alignez le bouton à droite */
}

.new-message-form button:hover {
    background-color: #003875; /* Assombrissez le bouton lors du survol */
}

.message {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Ligne de séparation entre les messages */
}

.message:last-child {
    border-bottom: none; /* Pas de ligne de séparation pour le dernier message */
}

.message h3 {
    margin: 0; /* Pas de marge pour les titres de message */
    color: #0366d6; /* Couleur bleue pour les titres */
}

.message span {
    color: #777; /* Couleur plus claire pour les détails */
    font-size: 0.9em; /* Petite taille de police pour les détails */
}

.message p {
    margin: 5px 0 0; /* Marge en haut pour le texte du message */
}

/* CSS pour le message invitant l'utilisateur à se connecter */
.main-page > p {
    text-align: center; /* Centrage du texte */
    font-size: 1.2em; /* Taille de police plus grande */
    padding: 50px; /* Plus d'espace autour du texte */
    color: #555; /* Couleur de texte plus douce */
    border: 2px dashed #ccc; /* Bordure pointillée */
    border-radius: 8px; /* Bordures arrondies */
    margin-top: 100px; /* Espace en haut pour attirer l'attention */
}


