/* LoginAdmin.css */
.login-admin-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-admin-container form div {
    margin-bottom: 15px;
}

.login-admin-container form label {
    display: block;
    margin-bottom: 5px;
}

.login-admin-container form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-admin-container button {
    padding: 10px 15px;
    background-color: #FF7F00; /* Orange color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-admin-container button:hover {
    background-color: #cc6600; /* Darker shade of orange for hover */
}
